/docker-compose.override.yaml
/docker-compose.override.yml


###> Custom ###
# Variables d'environnement
.env
# Documentation du développement
# docs
.idea
# Volumes DB
shared
#les fichiers de développement
**/*.*.save
*.*.save
*.save
# Fichiers uploadés
api/public/assets/uploads/img/category/*
api/public/assets/uploads/img/supplier_product/*
api/private/uploads/img/profil/admin/*
api/private/uploads/img/profil/customer/*
api/private/uploads/img/profil/supplier/*
# Documentation
/docs
###< Custom ###

###> Security ###

###< Security ###

