/** Spinner Loading */
.spinner-loading-content, .spinner-loading-message{
  display: flex;
  justify-content: center;
}
/*- Spinner loading page -*/
div.spinner-loading-page{
  font-size: 1.5rem;
  margin: 10rem auto;
  div.spinner-loading-content{
    color: $primary-color !important;
  }
  p.spinner-loading-message{
    color: $primary-color;
    font-family: "Carter One";
  }
}
