/**
 * Page error 404
 */
div.error_404{
  width: 100%;
  height: 800px;
  background-image: url("./../img/error-404-chat-fou.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
