/**
 * Description: Style des formulaires
 */

/**
 * Formulaire adresse de livraison
 */
form#delivery-address-form
{
    button#add-address{
        position: absolute;
        bottom: 0;
    }
}

div#delivery-address-shopping-card
{
    position : absolute;
    right: 9rem;
    top: 0;
}

input[type='file']
{
    padding: 0.375rem 0.75rem !important;
}

// Bouton Ajouter au panier et commande immédiat
form#add-shopping-card
{
    button.btn-outline-success{
        color: #F5A54C;
        border-color: #F5A54C;
    }

    a.btn-outline-danger{
        color: #F5A54C;
        border-color: #F5A54C;
    }
}
