/**
 * Description: Style des formulaires
 */

/**
 * Formulaire adresse de livraison
 */
form#delivery-address-form
{
    button#add-address{
        position: absolute;
        bottom: 0;
    }
}

div#delivery-address-shopping-cart
{
    position : absolute;
    right: 9rem;
    top: 0;
}

input[type='file']
{
    padding: 0.375rem 0.75rem !important;
}

// Bouton Ajouter au panier et commande immédiat
form#add-shopping-cart
{
    button.btn-outline-success{
        color: #F5A54C;
        border-color: #F5A54C;
    }

    a.btn-outline-danger{
        color: #F5A54C;
        border-color: #F5A54C;
    }
}

/* Dropzone */
.dropzone-thumb{
    display: inline-flex;
    border-radius: 0.125rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.25rem;
    box-sizing: border-box;

  button{
    display:flex;
    height: 1.725rem;
    padding: 0.25rem;
    color: $primary-color;
  }
}
.dropzone-thumb-inner{
    display: flex;
    flex-direction: column;
    max-width: 6.5rem;
    overflow: hidden;


}

#dropzone-preview{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;

    img{
        max-width: 6.5rem;
    }
    .dropzone-preview-img-title{
        font-size: 10px;
    }


}

/*--- Profile info page - Update profile info ---*/
form#update-profile-form{
  label[for="userType"]{
    display: flex;
    align-items: center;
    span{
      display: inline-flex;
    }
  }


}
/*--- End rofile info page - Update profile info ---*/
/*--- Profile - Update address form ----*/
form#update-address-form{}
datalist{
  font-family: "Kanit", "Dosis", "Lato", Arial, sans-serif;
  font-size: 1rem;
  option{
    padding: 0.2rem;
  }
}
/*--- Profile - Update address form ----*/
