/**
 * Nom:
 * Description: Style Global
 */



/************************** Style général *************************************/
body, html{
  height:100%;
}

body{
  font-family: 'Raleway','Roboto','Helvetica', Arial, sans-serif !important;
  box-sizing: border-box;
  //background-image: url("../img/background-cement-concrete.jpg");
  /* Attention : URL relatif à la page index.scss qui importe ce fichier */

  background-repeat: no-repeat;
  background-size: 100% 2300px;

  div#root{
      background-color: #f7f8f9;
  }
}

div.welcome{
  height: 100%;
  width: 100%;
}

/*------ Sticky menu ----------*/
.sticky{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

/*--- Material-UI ---*/
.MuiButton-root{
  text-transform: unset !important;
}

/*************** MAIN ***********************/


/*** MAIN - GLOBAL STYLE ****/

main {
  display: flex;
  overflow: hidden;
  width: 100%;

  /************** ASIDE **********************/





  /************** MAIN CONTENT **********************/
  section#main-content{
    width: 100%;
    padding: unset;

    h1{
      margin: 2rem auto;
      text-align: center;
    }

    /* Carousel - Categories */
    section.category-cards{

      div.container-fluid{

        /* Titre */
        h3{
          text-align: center;
        }

      }
    }


    /* List navigation */
    nav{
      width: 400px;
      margin: 20px auto;
    }

    /* Home Parallax 3 - Inscription */
    div.parallax3{
      height: 600px !important;

      div.col-lg-4{
        margin: 5px;
        padding: 0;
        width: 31% !important;
        max-width: 31%;
      }
    }



    section.recent-grains, section.recent-articles{
      padding: 25px 15px;

      h3{
        padding-bottom: 20px;
        text-align: center;

      }
    }

    /* Avatar rounded */
    img.xs-rounded-avatar{
      width: 70px;
      margin: 10px 15px;
    }

    img.sm-rounded-avatar{
      width: 100px;
      margin: 10px 15px;
    }
  }


}

/*** END MAIN - GLOBAL STYLE ****/






