/*
*  Page de liste par 4
*/
div.list-card-by-4{
    div.row{
        div.card{
            padding: 0 0 1.25rem 0;
            margin-bottom: 1rem;
            border: none;

            div.card-img-custom{
                position: relative;
                width: 100%;

                img.image {
                    opacity: 1;
                    display: block;
                    width: 100%;
                    height: auto;
                    max-height: 200px;
                    transition: .5s ease;
                    backface-visibility: hidden;
                }

                .middle {
                    transition: .5s ease;
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%)
                }

                &:hover .image {
                    opacity: 0.3;
                }

                &:hover .middle {
                    opacity: 1;
                }

                .text {
                    //background-color: #4CAF50;
                    //color: white;
                    font-size: 16px;
                    padding: 16px 32px;
                }
            }

            div.card-title, p.card-text{
                padding: 1rem 0.80rem 0 0.80rem;
                font-size: 0.80rem;
            }

            div.card-title{
                font-weight: bold;
                font-size: 0.80rem;
                margin-bottom: 0;
            }

            a.btn{
                width: 50%;
                margin: 0 auto;
            }
        }


    }
}

table.table-list-image{
    tbody{
        th{
            width: 4rem;
        }

        tr{
            td.table-td-image-circle{
                div.card-title{
                    text-align: center;
                }

                img.card-img{
                    max-width: 150px;
                    max-height: 150px;
                    border-radius: 50%;
                }
            }
        }
    }
}
