/*
*  Page de liste par 4
*/
div.card-img-custom{
    position: relative;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    img.image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        max-height: 200px;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%)
    }

    &:hover .image {
        opacity: 0.3;
    }

    &:hover .middle {
        opacity: 1;
    }

    .text {
        //background-color: #4CAF50;
        //color: white;
        font-size: 16px;
        padding: 16px 32px;
    }
}

/* Liste avec card ayant une image ronde placé au dessus */
div.list-img-middle-rounded{
    div.card{
        position: relative;
        margin: 6.25rem 0;

        img.image{
            position: absolute;
            top: -7.8125rem;
            left: 3.75rem;
            border-radius: 50%;
            max-width: 12.5rem;
            max-height: 12.5rem;
        }

        div.card-title{
            margin-top: 6.25rem;
        }

        div.middle{
            div.btn{
                position: absolute;
                bottom: 0;
                left: -75px;
            }
        }

    }
}

/* Liste avec 4 cards par ligne */
div.list-card-by-4{
    div.row{
        div.card{
            padding: 0 0 1.25rem 0;
            margin-bottom: 1rem;
            border: none;

            div.card-title, p.card-text{
                padding: 1rem 0.80rem 0 0.80rem;
                font-size: 0.80rem;
            }

            div.card-title{
                font-weight: bold;
                font-size: 0.80rem;
                margin-bottom: 0;
            }

            a.btn{
                font-size: 0.80rem;
                margin: 0 auto;
                padding: 0.8rem 1rem;
            }
        }


    }
}

/* Table contenant une image dans sa 2ème colonne */
table.table-list-image{
    tbody{
        th{
            width: 4rem;

            :hover{
                text-decoration : none;
            }
        }

        tr{
            td.table-td-image-circle{
                div.card-title{
                    text-align: center;
                }

                a{
                    font-size: 1rem;
                    color: white;
                    transition: 0.1s font-size ease-in;
                }

                a:hover{
                    text-decoration: none;
                    font-size: 1.25rem;
                    color: white;
                }

                img.card-img{
                    max-width: 150px;
                    max-height: 150px;
                    border-radius: 50%;
                }
            }
        }
    }
}

/* Page - Liste categories
 *
 */
div.list-categories{


    div.card{
        margin: 1rem 0;
        padding: 0 ;

        /*  Titre se trouvant en bas à gauche de l'imaage */
        div.image-bottom-left-title{
            position: absolute;
            left: 0;
            bottom: 0;
            background: linear-gradient(to top, black, transparent);
            width: 100%;
            margin: 0 !important;
            padding: 1.75rem 0.625rem;
        }

        div.btn{
            font-size: 0.80rem;

        }

        div.card-title, p.card-text{
            padding: 1rem;
        }


    }

    div.carousel-inner{
        height: 31.25rem;
        flex: 0 0 75%;
        max-width: 75%;
        margin: 0 auto !important;
    }

    ol.carousel-indicators{
        position: unset;
        left: unset;
        right: unset;
        bottom: unset;

        li{
            background-image: linear-gradient(to right, red, yellow, green) !important;
            height: 0.50rem;
        }
    }

}
/* End Page - Liste categories */

/* Page - Liste favoris */
#my-favorites-buttons
{
    button{
        border-color: #F5A54C;
        color: #F5A54C;
        margin: 0.2rem;
        width: 9rem;
    }

    button:hover{
        color: white;
    }

    #toast-shopping-cart
    {
        width: 10rem;
        z-index: 1;
    }
}
