/**
 * Description: Style des pages show
 *
 */

/* Page : show category */
div.category-detail{
    img.img-fluid{
        width: 48.75rem;
        height: auto;
        max-height: 25rem;
    }
    div.category-control-buttons{
        a, button{
            display: inline-block;
            margin: 0 1rem;
            width: 7.25rem;
            font-size: 0.8rem;
        }
    }
}

div.category-detail-products{
    background-color: whitesmoke;

    div.carousel-inner{
        margin: 1.25rem auto;
        font-size: 14px;

        div.card{
            padding: unset;
            /*  Titre se trouvant en bas à gauche de l'imaage */
            div.image-bottom-left-title{
                position: absolute;
                left: 0;
                bottom: 0;
                background: linear-gradient(to top, black, transparent);
                width: 100%;
                margin: 0 !important;
                padding: 1.75rem 0.625rem;
            }

            div.card-footer svg{
                color: $primary-color;
            }
        }
    }

    ol.carousel-indicators{
        position: unset;
        left: unset;
        bottom: unset;
        right: unset;

        li{
            background-color: $primary-color;
            height: 0.3125rem;
        }
    }

    @media screen and (min-width: 992px) {
        div.carousel-inner{
            flex: 0 0 75%;
            max-width: 75%;
        }
    }


}

/* Page : show supplier */
div.supplier-details
{
    margin-top: 2rem;
    h2
    {
        margin-top: 1rem;
    }


    div.supplier-products-offer
    {
        div.card{
            padding: unset;
            /*  Titre se trouvant en bas à gauche de l'imaage */
            div.image-bottom-left-title{
                position: absolute;
                left: 0;
                bottom: 0;
                background: linear-gradient(to top, black, transparent);
                width: 100%;
                margin: 0 !important;
                padding: 1.75rem 0.625rem;
            }

            div.card-footer svg{
                color: $primary-color;
            }
        }

        ol.carousel-indicators
        {
            position: unset;
            margin-top: 1rem;
            color: blue;
            background-color: $sixth-color;

            li
            {
                background-color: lighten(black, 0.9);
            }
        }

        a.carousel-control-prev
        {
            left: -6rem;
            background-color: $primary-color;
        }

        a.carousel-control-next
        {
            right: 6rem;
            background-color: $primary-color;
        }
    }
}

/* Page: show Supplier product */

div.detail-gallery-preview{
    img{
        max-width: 6.875rem;
        max-width: 6rem;
        margin-right: 0;
    }
}

.review-image img{
    height: 5rem;
}

.detail-overview-rating svg{
    color: #ffd700
}
