/**
 * Description: Style des pages show
 *
 */

/****** Page : show category ************/
div.show-detail{
    background-color: white;
    padding: 1rem;
    img.img-fluid{
        width: 48.75rem;
        height: auto;
        max-height: 25rem;
    }

    div.card{
      border: none;
      div.card-header, div.card-body, div.card-footer{
        background-color: white;
        border: none;
      }
      h6{
        font-weight: bold;
        font-size: 0.9rem !important;
      }
      p.card-text{
        font-size: 0.9rem;

      }
    }
    div.show-detail-control-buttons{
        a, button{
            display: inline-block;
            margin: 0 1rem;
            width: 7.25rem;
            font-size: 0.8rem;
        }
    }
}

/****** Page : show category ************/

div.show-detail-list{
  background-color: whitesmoke;

  div#slider-product-suppliers{
    .aws-sld {
      &--exit {
        &.aws-sld--moveRight, &.aws-sld--moveLeft {
          animation: scaleOut var(--slider-transition-duration) both
          var(--transition-bezier);
        }
      }
    }

    @keyframes scaleOut {
      to {
        transform: scale(0.85);
      }
    }
  }

  div.carousel-inner{
      margin: 1.25rem auto;
      font-size: 14px;

      div.card{
          padding: unset;
          /*  Titre se trouvant en bas à gauche de l'imaage */
          div.image-bottom-left-title{
              position: absolute;
              left: 0;
              bottom: 0;
              background: linear-gradient(to top, black, transparent);
              width: 100%;
              margin: 0 !important;
              padding: 1.75rem 0.625rem;
          }

          div.card-footer svg{
              color: $primary-color;
          }
      }
  }



    @media screen and (min-width: 992px) {
        div.carousel-inner{
            flex: 0 0 75%;
            max-width: 75%;
        }
    }


}

/*--- Page : show supplier ----*/
div.supplier-details
{
    margin-top: 2rem;
    h2
    {
        margin-top: 1rem;
    }


    div.supplier-products-offer
    {
        div.card{
            padding: unset;
            /*  Titre se trouvant en bas à gauche de l'imaage */
            div.image-bottom-left-title{
                position: absolute;
                left: 0;
                bottom: 0;
                background: linear-gradient(to top, black, transparent);
                width: 100%;
                margin: 0 !important;
                padding: 1.75rem 0.625rem;
            }

            div.card-footer svg{
                color: $primary-color;
            }
        }

        ol.carousel-indicators
        {
            position: unset;
            margin-top: 1rem;
            color: blue;
            background-color: $sixth-color;

            li
            {
                background-color: lighten(black, 0.9);
            }
        }

        a.carousel-control-prev
        {
            left: -6rem;
            background-color: $primary-color;
        }

        a.carousel-control-next
        {
            right: 6rem;
            background-color: $primary-color;
        }
    }
}

/*----- Page: show Supplier product ----*/
div.spinner-loading-page{
  font-size: 1.5rem;
  margin: 10rem auto;
  div.spinner-loading-content{
    color: $primary-color !important;
  }
  p.spinner-loading-message{
    color: $primary-color;
    font-family: "Carter One";
  }
}
div#supplier-product-show{

  div.detail-banner-btn{
    border: none;
    button{

      border-radius: 10%;
    }

    &.bookmark{
      button{
        color: $primary-color;
        border-color: $primary-color !important;
        padding: 9px 15px;
      }
    }

    button:hover{
      background-color: white !important;
      //border: unset;
    }

  }

  div.detail-banner-btn:hover{
    //border: unset !important;
    border-radius: 5%;
    background-color: unset;
  }

  div.detail-banner-btn.heart:hover{
    background-color: white;
    svg{
      color: gray !important;
    }

  }

  div#review-comments{
    border-radius: unset;
  }

  div.comment-image{
    div.MuiAvatar-root{
      width: 5rem;
      height: 5rem;
      margin: 1rem;
    }
  }

  div.comment-message > svg{
    font-size: 1.5rem;
  }

}
div.detail-gallery-preview{
    img{
        margin-right: 0;
    }

    .detail-gallery-index
    {
        display: flex;
    }

    .active{
        display: unset;
    }
}

div#toast-shopping-cart{
    position: absolute;
    left: 0;
    bottom: -14rem;
    background-color: rgba(255, 255, 255, 0.90);

    button.btn, a.btn{
        background-color: #1b1b1b;
    }
}

.review-image {
    img {
        height: 5rem;
    }
}

#review-comments
{
    margin: 0.5rem;
}

.detail-overview-rating svg{
    color: #ffd700
}

#comment-icon
{
    background-color: $color-primary;
    border-radius: 2px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    height: 21px;
    left: 20px;
    margin-top: 3px;
    position: absolute;
    padding-left: 1px;
    padding-top: 2px;
    text-align: center;
    width: 21px;
}



/* End Page: show Supplier product */


