// Bouton Ajouter au panier et commande immédiat
form#add-shopping-cart
{
  button.btn-outline-success{
    color: #F5A54C;
    border-color: #F5A54C;
  }

  a.btn-outline-danger{
    color: #F5A54C;
    border-color: #F5A54C;
  }
}
