/*------------ Login Form -----------------*/
div#form-login{
  button.login{
    div.spinner-border{
      width: 1.4rem;
      height: 1.4rem;
    }
  }

  /* Google login bouton progress */
  .MuiFab-root{
    width: 44px;
    height: 44px;
  }
  .mui-fab-progress-icon{
    font-size: 24px;
    color: green;
  }
  .mui-fab-progress-circular{
    color: green !important;
    position: absolute;
    top: -3px;
    left: -3px;
    z-index: 1;


  }
  /* Google login bouton  */

}
/*------------ End Login Form -----------------*/
