/*--- Profile info page - Update profile info ---*/
form#update-profile-form{
  label[for="userType"]{
    display: flex;
    align-items: center;
    span{
      display: inline-flex;
    }
  }


}
/*--- End rofile info page - Update profile info ---*/
