/*--- Profile - Update address form ----*/
form#update-address-form{}
datalist{
  font-family: "Kanit", "Dosis", "Lato", Arial, sans-serif;
  font-size: 1rem;
  option{
    padding: 0.2rem;
  }
}
/*--- End Profile - Update address form ----*/
