/**
* Nom: Iracanyes
* Description: Header Stylesheets
* Date: 26/06/19
*/

/************** HEADER ****************/

header{
  // title
  a.appbar-title{
    color: $primary-color;
  }
  a.appbar-title:hover{
    text-decoration: unset;
  }

  // Menu button

  // Search Form
  form.form-inline{
    button[type="submit"]{
      border-width: 2px;
      border-radius: unset;
      border-left: unset;
      color: white;
    }
    button[type="submit"]:hover{
      color: $primary-color;
      background-color: white;
    }
  }



}
// Menu left
div.menu-left-submenu{
  div.MuiPaper-root{
    background-color: $mui-primary-color;
    left: unset !important;
    right: 20px;
    top: 63px;
    ul.MuiList-root{
      display: inline-flex;
      li{
        a, div{
          color:white;
          font-size: 1.3rem;
          display: flex;
          flex-direction: column;
          span{
            font-size: 0.8rem;
          }
        }
        a:hover{
          text-decoration: unset;
        }
      }
      li:hover{
        background-color: darken($mui-primary-color, 10%);
      }
    }
  }
}
/************** END HEADER ****************/
